/* Your styles here */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:ital,wght@0,400;0,700;1,300&family=Poppins:wght@100;300;400;500&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
    line-height: 1.65;
    font-size: 1.2em;
}

header {
    align-items: center;
    background-color: black;
    
}



header img {
    
    width: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
}



nav {
    background-image: url(../images/banner.jpg);
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 450px;
    height: 350px;
    text-align: center;
}

nav h1 {
    font-family: 'Montserrat', sans-serif;
    color: #25a2c3;
    font-size: 1.8em;
    font-weight: bold;
    padding: 0.5em;
    line-height: 1.5;
    text-align: center;
}

nav h2{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    color: rgb(54, 52, 52);
    text-align: center;
    text-decoration: none;
    width: 450px;
    font-size: 1.5rem;
  }
button{
  background-color: #f04c2f;
  border: none;
  border-radius: 4px;
  height: 40px;
  color: white;
  font-weight: bolder;
  text-align: center;
}

main {
    text-align: center;
}

section {
    padding: 2em;
}

.blu {
    line-height: 1.65;
    font-family: "Montserrat";
    color: #25a2c3;
    font-weight: bolder;
    padding-bottom: 1em;
    padding-top: 1em;
}
.img2 {
    border-radius: 100%;
    margin-top: 25px;
    width: 350px;
    margin-bottom: 20px;
    height: 350px;
}

article {
    background-color: orangered;
    padding: 2em;
    color: white;
}

article h3 {
    font-size: 1.8em;
    font-weight: bolder;
    padding-bottom: 0.5em;
}

blockquote {
    font-style: italic;
    padding-bottom: 0.8em;
}

.ceo {
    font-size: 0.8em;
}

.section {
    margin: 1em;
    border: 1px solid lightgray;
    padding-bottom: 1em;
}

.section img {
    width: 100%;
}

.section p {
    padding-left: 1em;
    padding-right: 1em;
}

footer {
    background-color: #25a2c3;
    text-align: center;
    height: 350px;
    color: #c8e7f0;
    text-decoration: none;
}

footer h3 {
    font-family: "Montserrat";
    font-size: 1.8em;
    font-weight: bolder;
    padding-top: 1em;
    padding-bottom: 1em;
}

footer a {
    color: #c8e7f0;
}

footer hr {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    margin-left: 6em;
    margin-right: 6em;
}


